	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img class="img-responsive" src="Images/logo.png" /></a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
			<li><a href="About.php">About</a></li>
			<li><a href="#">Jambassadors</a></li>
			<li><a href="Menu.php">Menu + Nutrition</a></li>
			<li><a href="#">Fender Blender</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Find a Store</a></li>
			<li><a href="#">Investor Relations</a></li>
		</ul>
	</div>